{
  "APP_ANALYTICS": "http://localhost:portNUmber",
  "COMPETENCY_API_BASE": "http://compentency-tool-service:8080",
  "CONTENT_SERVICE_API_BASE": "http://content-service:9000",
  "DECRYPTION_API_BASE": "http://decryption-service:8084",
  "DISCUSSION_HUB_DEFAULT_PASSWORD": "<local nodebb user password>",
  "DISCUSSION_HUB_WRITE_API_KEY": "<local nodebb write api key uuid>",
  "ENTITY_API_BASE": "http://10.1.2.120:8083",
  "ES_PASSWORD": "<local elasticsearch password>",
  "FRAC_ETL_API_BASE": "http://frac-etl-service:8083",
  "GAMIFICATION_API_BASE": "http://localhost:port-number",
  "ILP_FP_PROXY": "http://localhost:port",
  "KNOWLEDGE_MW_API_BASE": "http://knowledge-mw-service:5000",
  "LEARNER_SERVICE_API_BASE": "http://learner-service:9000",
  "NOTIFICATION_ENGINE_SOCKET_URL": "http://notification-engine:3013",
  "NOTIFICATION_SERVIC_API_BASE": "http://notification-service:9000",
  "SCORM_PLAYER_BASE": "http://localhost:port",
  "USER_CREATE_PASSWORD": "<local user-create service password>"
}
